{{#each obj}}
<div id="articleCard" class="card">
  <h5 class="card-header">{{#each this}}
    {{altHead}}
    {{/each}}</h5>
  <div class="card-body">
    <h5 class="card-title">{{#each this}}
      {{headline}}
      {{/each}}</h5>
    <p class="card-text">{{#each this}}
      {{desc}}
      {{/each}}</p>
    <a href="{{#each this}}
  {{link}}
  {{/each}}" target="_blank" class="btn btn-primary">Visit</a>
    <button class="btn btn-success">Save</button>
  </div>
</div>
{{/each}}