#logo {
  max-width: 400px;
}

#navLogo {
  border: 3px #ccc solid;
  border-radius: 5px;
}

#articleCard {
  margin: 20px 0;
}

#saved {
  cursor: default;
}

#noteSuccess,
#noteFailure {
  display: none;
}

.navBtn {
  margin: 0 10px;
}

.deleteNote {
  margin-bottom: 40px;
}
